# Ignore node_modules
node_modules/
.env
*.env
backend/config/config.env


# Logs
logs
*.log
npm-debug.log*

# Environment files
.env

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build output
dist/
build/

# Coverage
coverage/
